<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>LOGIN</title>
</head>

{% block titulo %}
<h1 class ='mb-5'> LOGIN</h1>
{% enblock %}

<body>
{% block contenido que cambia %}
    <h1> {{ mensaje }}</h1>
    <form> action="{% url 'login' %}" method = POST> {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">INICIAR SESION</button>
    </form>
    
</body>
</html>